APP_ENV=dev
APP_SECRET=

MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=settle
MYSQL_USER=settle
MYSQL_PASSWORD=settle
MYSQL_HOST=mysql
MYSQL_PORT=3306

MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0

MAILER_DSN=null://null
