.env
.idea/
.vscode/
config/secrets/prod/prod.decrypt.private.php
compose.override.yaml

public/bundles/
public/app/
frontend/node_modules/
frontend/dist/
frontend/coverage/
var/
vendor/

phpunit.xml
.phpunit.result.cache

.php-cs-fixer.cache

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###
