.env
.idea/
.vscode/
config/secrets/prod/prod.decrypt.private.php

public/bundles/
public/assets/
assets/vendor/
var/
vendor/

phpunit.xml
.phpunit.result.cache

.php-cs-fixer.cache

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###
